version: "3"

services:
    api:
        container_name: bookspot_api
        build:
            context: ./api
        ports:
            - "8000"
        volumes: 
            - ./api:/usr/src/api
        command: >
            sh -c "alembic upgrade head && gunicorn -w 4 -b 0.0.0.0:8000 app:app --reload"
        environment:
            SECRET_KEY: ${SECRET_KEY}
            PSQL_USER: ${PSQL_USER}
            PSQL_PWD: ${PSQL_PWD}
            PSQL_HOST: ${PSQL_HOST}
            PSQL_DATABASE: ${PSQL_DATABASE}
            EMAIL: ${EMAIL}
            EMAIL_PWD: ${EMAIL_PWD}
            GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID}
            GOOGLE_TEST_TOKEN: ${GOOGLE_TEST_TOKEN}
    proxy:
        container_name: bookspot_proxy
        image: nginx:1.20-alpine
        ports:
            - "80:80"
        volumes:
            - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
        depends_on:
            - api
